<!-- app/views/products/index.html.erb -->
<h1>Products in <%= @category.name %></h1>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <%= link_to category_product_path(@category, product), class: "card-link" do %>
            <div class="card-body">
              <%= image_tag product.img_src, class: "card-img-top img-fluid", alt: product.name %>
            </div>
            <div class="card-footer">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <p class="card-text">Price: <%= number_to_currency(product.price) %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
